:root {
  --main: green;
  --sub: rgb(139, 206, 139);
  background-color: var(--main);
}
.card {
  padding: 1rem;
  border: 1px solid var(--main);
  width: 20vw;
  height: 30vh;
  background-color: var(--sub);
  color: var(--main);
}
.deleteBtn {
  color: var(--main);
  border: var(--main) 1px solid;
  border-radius: 60px 0px;
  padding: 10%;
  font-size: small;
}
.container {
  display: flex;
  flex-direction: row;
}
